/*.myfont{
    font-family:  "Oswald", sans-serif;
}
.login-page {
    background-image: url('../../Assets/Img/bg_img_new.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 641px;*/
    /* filter: blur(5px);
    filter: brightness(50%); */
    /*width: 100%;
    padding-top: 120px;
  }
  
  .login-contain {
    padding-right: 30px;
    width: 500px;
    height: auto;
    padding-bottom: 44px;
    padding-top: 30px;
    padding-left: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .login-hading h5 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
  }
  
  .login-hading h5::after {
    background: #18890b;
    content: "";
    display: block;
    width: 150px;
    height: 2px;
    margin: 10px auto;
  }*/
  
  