/*body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #0a0a23;
}
.sign-up{
    background-image: url('../../Assets/Img/bg_img_new.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 641px;*/
    /* filter: blur(5px);
    filter: brightness(50%); */
    /*width: 100%;
    padding-top: 120px;
}
.form-container {
    max-width: 400px;
    background-color: #111433;
}

.btn-primary {
    background-color: #035b7a;
    border-color: #035b7a;
}

.btn-primary:hover {
    background-color: #024962;
}*/
